<header class="dashboard-header">
  <div class="menu-toggle" onclick="toggleSidebar()">☰</div>
  <div class="welcome-text">Welcome, {{user}}</div>
  <h1 class="site-title">LabSlot.Inc</h1>
  <a id="profile-link" class="profile-link">
  <img src="/assets/profile.png" alt="Profile" class="profile-pic" />
</a>
</header>
