<h1>Confirm Reservation</h1>
<p>You have selected the following slots:</p>
<div class="reservation">
    <h3>Lab 1 (CCPROG3) - June 18, 2025</h3>
    <p>Seat 1: 8:00-8:30</p>
</div>
<div class="reservation">
    <h3>Lab 2 (CCAPDEV) - June 18, 2025</h3>
    <p>Seat 1: 8:00-8:30</p>
    <p>Seat 2: 8:00-13:30</p>
</div>
<div class="action-button">
    <button id="confirm">Confirm</button>
    <button id="cancel">Cancel</button>
</div>