<div class="login-auth-wrapper">
  <div class="login-box">
    <h1 class="login-title">LOGIN</h1>
    <form action="/login" method="POST" id="login-form">
      <div class="form-group">
        <label for="email">DLSU Email</label><br />
        <input type="email" id="email" name="email" required />
        <span id="emailError" class="error-message"></span>
      </div>

      <div class="form-group">
        <label for="password">Password</label><br />
        <input type="password" id="password" name="password" required />
      </div>

      <div class="form-options">
        <input type="checkbox" id="remember" name="remember" />
        <label for="remember">Remember Me</label>
      </div>

      <div class="form-group">
        <button type="submit" class="login-button">Login</button>
      </div>

      <div class="register-link">
        New Here? <a href="/register">Create an Account</a>
      </div>
    </form>
  </div>
</div>