<section class="profile-section">
  <div class="profile-header">
    <div class="profile-card-portrait">
      <div class="profile-photo">
        <img src="/assets/profile.png" alt="Profile Photo" />
      </div>
      <div class="profile-info">
        <h2>{{username}}</h2>
        <p>{{role}}</p>
      </div>
    </div>
</section>